<h1 >{{page_heading}} {{title}} </h1>
<!--<table>
  <tr>
    <th>ContactId</th>
    <th>FirstName</th>
    <th>lastName</th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td [title]="contact.contactId">{{ contact.contactId}}</td>
    <td>{{ contact.firstName}}</td>
    <td>{{ contact.lastName }}</td>

  </tr>
</table>
<input [(ngModel)]="username"/>
<div> {{ username }}</div>
<div>{{ 30 |usdInr: 82}}</div>-->
<!--<button mat-button color="primary"> Primary </button>
<div class="bg-success" *ngIf="success_msg then successMsg else error_msg ">
  user added successfully
</div>
<ng-template #successMsg class="bg-danger"> User added</ng-template>
<ng-template #error_msg class="bg-danger"> User Not added</ng-template>

<h2>Learning ngFor</h2>
<ul >
  <li *ngFor="let contact of contacts; index as i; first as f">
    <div *ngIf="f">This is First record</div>
    <div>
      {{ i }}{{ contact.firstName }} {{contact.lastName }}
    </div>
    </li>
  </ul>

  <h4>Learning ngSwitch</h4>
  <div [ngSwitch]="superPower">
    <div *ngSwitchCase="'wonderWoman'">Display Wonder Woman</div>
    <div *ngSwitchCase="'superMan'">Display superman</div>
    <div *ngSwitchCase="'spiderMan'">Display spider Man</div>
    <div *ngSwitchDefault>Display Wonder Woman powers</div>
  </div>
  <div [ngClass]="'c1'">Ng class</div>
  <div [ngClass]="'c1 c2'">Ng class</div>
<app-list-profile></app-list-profile>-->
<router-outlet></router-outlet>
