<div class="darktheme">
<h1 >{{page_heading}} {{title}} </h1>

  <mat-slide-toggle>Slide me!</mat-slide-toggle>


<!--<table>
  <tr>
    <th>ContactId</th>
    <th>FirstName</th>
    <th>lastName</th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td [title]="contact.contactId">{{ contact.contactId}}</td>
    <td>{{ contact.firstName}}</td>
    <td>{{ contact.lastName }}</td>

  </tr>
</table>
<input [(ngModel)]="username"/>
<div> {{ username }}</div>
<div>{{ 30 |usdInr: 82}}</div>-->
<!--<button mat-button color="primary"> Primary </button>
<div class="bg-success" *ngIf="success_msg then successMsg else error_msg ">
  user added successfully
</div>
<ng-template #successMsg class="bg-danger"> User added</ng-template>
<ng-template #error_msg class="bg-danger"> User Not added</ng-template>

<h2>Learning ngFor</h2>
<ul >
  <li *ngFor="let contact of contacts; index as i; first as f">
    <div *ngIf="f">This is First record</div>
    <div>
      {{ i }}{{ contact.firstName }} {{contact.lastName }}
    </div>
    </li>
  </ul>

  <h4>Learning ngSwitch</h4>
  <div [ngSwitch]="superPower">
    <div *ngSwitchCase="'wonderWoman'">Display Wonder Woman</div>
    <div *ngSwitchCase="'superMan'">Display superman</div>
    <div *ngSwitchCase="'spiderMan'">Display spider Man</div>
    <div *ngSwitchDefault>Display Wonder Woman powers</div>
  </div>
  <div [ngClass]="'c1'">Ng class</div>
  <div [ngClass]="'c1 c2'">Ng class</div>
<app-list-profile></app-list-profile>-->

<router-outlet></router-outlet>

<form #addCustomerForm="ngForm" (submit)="addCustomer(addCustomerForm)">
  <input type="text" [(ngModel)]="firstname" name="firstname" required>
  <br>
  <input type="checkbox" [(ngModel)]="terms" name="terms" required>Accept Terms and Conditions
  <br>
  <select [(ngModel)]="customerType" name="customerType">
    <option value="1">Normal</option>
    <option value="2">Premium</option>
  </select>
  <button type="submit" [disabled]="!addCustomerForm.valid">Add Customer</button>
  <button class="btn btn-link" (click)="resetForm(addCustomerForm)">Reset Form</button>
</form>

<div> {{ firstname }}</div>
</div>
